name: nidajs Package

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: "*"
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npm run build
      - run: npm test

  publish-web:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.ref ==  'refs/heads/main' }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          npm ci
          npm run build:web
          npx semantic-release 

  publish-node:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.ref ==  'refs/heads/main' }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          npm run build:node
          cd ./node
          npx semantic-release 
        

      
